<div id="main" class="small-12 medium-10 columns">
  <h1>Editing Portfolio</h1>

  <%= render 'form', portfolio: @portfolio %>

  <%= link_to 'Show', @portfolio %> |
  <%= link_to 'Back', portfolios_path %>
</div
