<div id="submission-field" class="medium-6 medium-offset-2 columns">
  <div class="input-group">
    <span class="input-group-label">Link</span>
    <input id="link-field" class="input-group-field" type="text" value="<%= "http://localhost:3000/portfolios/#{@portfolio.identifier}" %>">
    <div class="input-group-button">
      <button class="clipboard-btn" data-clipboard-target="#link-field"><i id="copy" class="fi-page-copy"></i></button>
    </div>
  </div>
</div>
