<div id="main" class="small-12 columns">
  <div class="row">
    <%= render "portfoliocard", portfolio: @institutionportfolio.portfolio %>
    <div class="small-2 columns">
      <%= render "form", institutionportfolio: @institutionportfolio %>
    </div>
  </div>
</div>
