<div class="row align-stretch">
  <%= render "shared/publicsidebar" %>
  <div class="small-12 medium-10 columns">
    <div class="row">
      <div class="profilecard small-12 medium-9 columns">
        <div class="card-section">
        <% if !@user.profile %>
          <p>Under Construction</p>
        <% else %>
          <h2>Welcome!</h2>
          <hr>
          <p><%= @user.profile.about_me %>
        <% end %>
        </div>
      </div>
      <%= render "shared/usercard" %>
    </div>
  </div>
</div>
