<div class="profile-card">
  <div class="card-section">
      <h2>
        About Me
        <% if profile.user == current_user %>
          <%= link_to "", edit_student_profile_path, method: "get", class: "float-right fi-pencil" %>
        <% end %>
      </h2>
      <hr>
      <h3>Bio:</h3>
      <blockquote><%= profile.bio %></blockquote>
      <h3>Goals:</h3>
      <blockquote><%= profile.goals %></blockquote>
      <h3>Interests:</h3>
      <blockquote><%= profile.interests %></blockquote>
  </div>
</div>
