<div class="profilecard">
  <div class="card-section">
      <h2>About Me</h2>
      <hr>
      <h3>Bio:</h3>
      <blockquote><%= profile.bio %></blockquote>
      <h3>Goals:</h3>
      <blockquote><%= profile.goals %></blockquote>
      <h3>Interests:</h3>
      <blockquote><%= profile.interests %></blockquote>
  </div>
</div>
