<div class="sidebar show-for-medium medium-2 columns">
  <div class="sidebar-links">
    <h5 class="sidebar-link text-center"><%= link_to "Dashboard", user_path(@user.identifier), method: "get" %></h5>
    <h5 class="sidebar-link text-center"><%= link_to "Profile", user_profile_path(@user.identifier), method: "get" %></h5>
    <h5 class="sidebar-link text-center"><%= link_to "Projects", user_projects_path(@user.identifier), method: "get" %></h5>
  </div>
</div>
