<div class="welcome-card">
  <div class="card-section">
      <blockquote>Thank you for viewing my portfolio!
        <br>
        <br>
        <%= profile.about_me %>
        <br>
        <br>
        Sincerely,
        <cite><%= profile.user.name %></cite>
        </blockquote>

  </div>
</div>
