<div class="top-bar">
    <h4 class="float-center">Do your grades define you?</h4>
</div>
<div class="orbit splash-orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
    <li class="is-active orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/actor.png" alt="actor">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">an actor.</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/adventurer.png" alt="adventurer">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">an adventurer</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/artist.png" alt="artist">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">an artist.</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/musician.png" alt="musician">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">a musician.</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/volunteer.png" alt="volunteer">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">a volunteer.</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/athlete.png" alt="athlete">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">an athlete.</h2>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="aligner">
        <div class="float-left">
          <img class="orbit-image" src="orbit/coder.png" alt="coder">
        </div>
        <div class="caption float-right">
          <h2 class="text-center">You are...</h2>
          <h2 class="text-center">a coder</h2>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="top-bar">
    <h4 class="float-center">Be more than just a statistic.</h4>
</div>

<div class="register-now display-flex">
      <h3 class="align-middle text-center"><%= link_to "Register", new_user_registration_path, method: "get" %> here  or <%= link_to "Log In", new_user_session_path, method: "get" %></h3>
</div>
