<div class="row align-stretch">
  <%= render "shared/sidebar" %>
  <div class="small-12 medium-10 columns">
    <% if !params[:user_id] %>
      <%= button_to "New Accomplishments", new_student_project_path, method: "get", class: "button" %>
    <% end %>
    <div class="row small-up-1 medium-up-2">
        <% if @projects.length == 0 %>
          <p>You don't have any projects, yet. <%= link_to "Click here", new_student_project_path, method: "get" %> to begin.</p>
        <% else %>
          <% @projects.each do |project| %>
            <%= render "shared/projectcard", project: project %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
