<div id="main" class="small-12 columns">
  <div class="row">
    <div class="profile-card small-12 medium-9 columns">
      <div class="small-12 card-section">
          <h2>Welcome!</h2>
          <hr>
          <%= render "shared/quotecard", quote: @quote %>
          <br>
          <br>
          <%= button_to "Review Submitted Portfolios", processor_institutionportfolios_path, method: "get", class: "button" %>
      </div>
    </div>
    <%= render "shared/usercard", user: @user %>
  </div>
</div>
