/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#main-body {
  height: 600px;
  overflow: scroll;
 }

 .top-bar, .footer {
   border-top-color: #0D70C3;
   border-top-style: solid;
   border-top-width: 1px;
   border-bottom-color: #0D70C3;
   border-bottom-style: solid;
   border-bottom-width: 1px;
 }

#main-menu, .top-bar, .top-bar, .top-bar ul{
  background-color: black;
  color: white;
}

 .user-icon {
   color: white;
   font-size: 3em;
 }

.orbit-slide{
   width: 100vw;
 }

.orbit-slide img {
  width: 50vw;
}

.splash-orbit .orbit-container {
  background-image: url("/chalkboard.jpg");
  background-size: cover;
  height: auto !important;
}

.aligner {
  display: flex !important;
  align-items: center !important;
}

.caption {
  width: 50vw;
}

.caption h2 {
  font-family: 'Amatic SC', cursive !important;
  font-size: 4em;
  font-weight: 600;
  color: white;
}

.register-now {
  background-color: lightgrey;
  color: black;
  padding-top: 2em;
  padding-bottom: 2em;
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: black;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

.flash {
  position: fixed;
  top: 2.5vh;
  left: 35vw;
  width: 30vw;
  z-index: 100;
  padding: 7px;
  border-radius: .5rem;
  background-color: rgba(0,0,0,.5);
  color: white;
}

.profile-card {
  padding-top: 1em;
  padding-bottom: 1em;
}

.about-me-card {
  padding-top: 1em;
  padding-bottom: 1em;
}

.project-card {
  margin: .5em;
}

.sidebar {
  background-color: black;
  text-align: center;
  color: #fff;
  border-color: 1px 1px 1px 0px solid #0D70C3;
  display: flex;
  align-items: center;
}

.sidebar-links {
  width: 100%;
}

.sidebar-link {
  padding-top: 2em;
  padding-bottom: 2em;
}

#copy {
  font-size: 2em;
}

#submission-field {
  display: flex;
  align-items: center;
}
