<h2 class="text-center">Profile Picture</h2>

<%= simple_form_for @image, url: student_image_path do |f| %>

  <div class="form-inputs">
    <%= f.input :avatar, label: "Set your profile picture." %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Set Picture" %>
  </div>

<% end %>
